<p class="__notice">Easily create nicely looking buttons, which come in different styles.</p>
<h3>Usage</h3>
<p>To apply this component, add the <code>.__wo-btn</code> class to an <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> element. Now you have created a button. Add the color tag to a <code>&lt;button&gt;</code> element to change appearance of the button.</p>

<div class="__wo-holder-10"></div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn">Default</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --primary">Primary</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --success">Success</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --danger">Danger</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --warning">Warning</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --info">Info</button>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-code">
	<pre class="language-html"><code>&lt;button class="__wo-btn"&gt;Default&lt;/button&gt;
&lt;button class="__wo-btn --primary"&gt;Primary&lt;/button&gt;
&lt;button class="__wo-btn --success"&gt;Success&lt;/button&gt;
&lt;button class="__wo-btn --danger"&gt;Danger&lt;/button&gt;
&lt;button class="__wo-btn --warning"&gt;Warning&lt;/button&gt;
&lt;button class="__wo-btn --info"&gt;Info&lt;/button&gt;</code></pre>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-col-m-12">
	<h4>Outline</h4>
	<p>You can use <strong>outline</strong> variants for all these buttons, add <code>.--outline</code> to any <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code>, and you get outlined element. For example:</p>
</div>
<div class="__wo-holder-10"></div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --outline">Default</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --primary --outline">Primary</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --success --outline">Success</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --danger --outline">Danger</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --warning --outline">Warning</button>
</div>
<div class="__wo-col-m-2 __wo-col-xs-4">
	<button class="__wo-btn --info --outline">Info</button>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-code">
	<pre class="language-html"><code>&lt;button class="__wo-btn --outline"&gt;Default&lt;/button&gt;
&lt;button class="__wo-btn --outline --primary"&gt;Primary&lt;/button&gt;
&lt;button class="__wo-btn --outline --success"&gt;Success&lt;/button&gt;
&lt;button class="__wo-btn --outline --danger"&gt;Danger&lt;/button&gt;
&lt;button class="__wo-btn --outline --warning"&gt;Warning&lt;/button&gt;
&lt;button class="__wo-btn --outline --info"&gt;Info&lt;/button&gt;</code></pre>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-col-m-12">
	<h4>Inverted</h4>
	<p>You can use modificator <code>.--inverted</code> at <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> for blocks with background. It can be applicated ony for <em>default</em> elements. For example:</p>
	<div class="__wo-holder-10"></div>
	<div class="__wo-table-wrap">
		<table class="__wo-table">
			<thead>
				<th>Example</th>
				<th>Code</th>
				<th>Description</th>
			</thead>
			<tbody>
				<tr>
					<td><button class="__wo-btn --inverted">Inverted</button></td>
					<td><code>.--inverted</code></td>
					<td>This modificator added to <code>.__wo-btn</code> for variety of buttons style</td>
				</tr>
				<tr>
					<td class="--bg-inverted"><button class="__wo-btn --outline --inverted">Inverted outline</button></td>
					<td><code>.--inverted .--outline</code></td>
					<td>This modificatoris good for blocks with a background.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-code">
	<pre class="language-html"><code>&lt;button class="__wo-btn --inverted"&gt;Default&lt;/button&gt;
&lt;button class="__wo-btn --outline --inverted"&gt;Primary&lt;/button&gt;</code></pre>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-col-m-12">
	<h4>Disabled</h4>
	<p>You can add modificator<code>.--disabled</code> or attribute <code>disabled</code> to <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> for visual dim element or for disable action function of element.</p>
	<div class="__wo-holder-10"></div>
	<div class="__wo-table-wrap">
		<table class="__wo-table">
			<thead>
				<th>Example</th>
				<th>Code</th>
				<th>Description</th>
			</thead>
			<tbody>
				<tr>
					<td><button class="__wo-btn --disabled">Disabled</button></td>
					<td><code>class="--disabled"</code></td>
					<td>Disable as modificator added to <code>.__wo-btn</code> for visual disabling, as <strong>disabled</strong> working only with js</td>
				</tr>
				<tr>
					<td><button class="__wo-btn" disabled>Disabled</button></td>
					<td><code>disabled</code></td>
					<td>Attribute <code>disabled</code> works as usual.</td>
				</tr>
				<tr>
					<td><button class="__wo-btn --primary --disabled">Disabled</button></td>
					<td><code>class="--primary --disabled"</code></td>
					<td>You can use this modificator or attribute with any button style.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-code">
	<pre class="language-html"><code>&lt;button class="__wo-btn --disabled"&gt;Disabled&lt;/button&gt;
&lt;button class="__wo-btn" disabled&gt;Disabled&lt;/button&gt;
&lt;button class="__wo-btn --primary --disabled"&gt;Disabled&lt;/button&gt;</code></pre>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-col-m-12">
	<h4>Sizes</h4>
	<p>You can use different sizes one one theme. Works with all of styles.</p>
</div>
<div class="__wo-col-m-12">
	<button class="__wo-btn --wo-size-xs">Size XS</button>
	<button class="__wo-btn --wo-size-s">Size S</button>
	<button class="__wo-btn --wo-size-m">Size M</button>
	<button class="__wo-btn --wo-size-l">Size L</button>
	<button class="__wo-btn --wo-size-xl">Size XL</button>
</div>
<div class="__wo-holder-20"></div>
<div class="__wo-code">
	<pre class="language-html"><code>&lt;button class="__wo-btn --wo-size-xs"&gt;Size XS&lt;/button&gt;
&lt;button class="__wo-btn --wo-size-s"&gt;Size S&lt;/button&gt;
&lt;button class="__wo-btn --wo-size-m"&gt;Size M&lt;/button&gt;
&lt;button class="__wo-btn --wo-size-l"&gt;Size L&lt;/button&gt;
&lt;button class="__wo-btn --wo-size-xl"&gt;Size XL&lt;/button&gt;</code></pre>
</div>
<div class="__wo-holder-20"></div>