/*!
 * WO Kit
 * development by Webberin Team
 * webberin.agency
 *
 * Licensed MIT for open source use
 *
 * https://getwokit.tech
 * Copyright 2023 Webberin
 */

/* WO Colors and Sizes */
:root {
	--wo-white: #fff;
	--wo-bg: #F4F4F4;
	--wo-bg-dim: #EAE7E7;
	--wo-black: #333333;
	--wo-gray-light: #cccccc;
	--wo-gray: #999999;
	--wo-shadow: rgba(40,40,40,0.2);

	--wo-inverted: #333333;
	--wo-inverted-dim: #000000;
	--wo-inverted-light: #555555;
	
	--wo-primary: #108BB3;
	--wo-primary-dim: #0E7A9D;
	--wo-primary-light: #1DA0CB;

	--wo-success: #10B362;
	--wo-success-dim: #07A758;
	--wo-success-light: #28C778;

	--wo-danger: #EF505B;
	--wo-danger-dim: #E33F4A;
	--wo-danger-light: #F56872;

	--wo-warning: #FFA662;
	--wo-warning-dim: #F2964F;
	--wo-warning-light: #FFAE71;

	--wo-info: #FFD065;
	--wo-info-dim: #F2C254;
	--wo-info-light: #F7D17B;

	--wo-font-size: 1rem;
	--wo-font-size-s: 0.75rem;
	--wo-font-size-xs: 0.6rem;
	--wo-font-size-l: 1.1rem;
	--wo-font-size-xl: 1.25rem;

	--wo-h1-size: 2rem;
	--wo-h2-size: 1.75rem;
	--wo-h3-size: 1.5rem;
	--wo-h4-size: 1.25rem;
	--wo-h5-size: 1rem;
	--wo-h6-size: 0.75rem;

	--wo-gutter: 1rem;
	--wo-gutter-additional: 1.125rem;

	--wo-gutter-xs: 2vw;
	--wo-gutter-xs-additional: 0vw;

	--wo-border-radius-button: .25rem;
	--wo-border-radius-input: 0.625rem;
	--wo-border-radius-micro: 0.25rem;
	--wo-border-radius-pict: 0.625rem;
	--wo-border-radius-memberpict: 100rem;
}

/* Normalize */
::selection{color: var(--wo-white);background-color: var(--wo-primary)}
html{font-size:16px}
@media (min-width: 320px) and (max-width: 767px) {html{font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (767 - 320)))}}
a{color: var(--wo-primary)}*:focus,*:active,*:hover{outline:none}*,*::before,*::after{box-sizing:border-box}html{font-size:16px}body{margin:0;padding:0}.--empty{border:var(--wo-danger) !important}
* {
	font-family: 'Montserrat', sans-serif;
}
pre,pre code{padding:0 !important;margin:0 !important;white-space:pre}pre code{background:var(--wo-bg) !important;border-radius: var(--wo-border-radius-input);}pre,pre *{font-family:'Courier New',Courier,monospace}pre code{padding:1rem !important}

/* .hljs-ln-numbers{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;color:#ccc;border-right:1px solid #CCC;vertical-align:top;padding-right:5px}.hljs-ln-code {padding-left:10px} */

.__wo-holder-20,
.__wo-holder-10,
.__wo-holder-5,
.__wo-holder-1,
.__wo-holder-0 {
	display: table;
	width: 100%;
}
.__wo-holder-20 {
	height: 2rem;
}
.__wo-holder-10 {
	height: 1rem;
}
.__wo-holder-5 {
	height: .5rem;
}
.__wo-holder-1 {
	height: .1rem;
}
.__wo-holder-0 {
	height: 0rem;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	display: block;
	margin-bottom: var(--wo-gutter);
	font-weight: 400;
}
h1 {
	font-size: var(--wo-h1-size);
	font-weight: 500;
}
h2 {
	font-size: var(--wo-h2-size);
	font-weight: 400;
}
h3 {
	font-size: var(--wo-h3-size);
	font-weight: 400;
}
h4 {
	font-size: var(--wo-h4-size);
	font-weight: 300;
}
h5 {
	font-size: var(--wo-h5-size);
	font-weight: 300;
}
h6 {
	font-size: var(--wo-h6-size);
	font-weight: 200;
}
p {
	padding: 0;
	margin: 0;
	margin-bottom: var(--wo-gutter);
	font-size: var(--wo-font-size);
	color: var(--wo-black);
	line-height: calc(var(--wo-font-size) * 1.75);
}
p.--subtitle {
	font-size: var(--wo-font-size-s);
}
:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
	font-size: inherit;
	font-family: 'Courier New', Courier, monospace;
	color: var(--wo-danger-dim);
	white-space: nowrap;
	padding: 0 calc(var(--wo-gutter) * .25);
	border: 1px solid var(--wo-bg-dim);
	border-radius: var(--wo-border-radius-micro);
	background: var(--wo-bg);
}
strong {
	font-weight: 600;
	font-size: inherit;
}
em {
	font-size: inherit;
	font-style: italic;
	font-style: italic;
	color: var(--wo-danger-light);
}

/* WO Notice */
.__notice {
	font-size: var(--wo-font-size);
	line-height: calc(var(--wo-font-size) * 1.75);
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: var(--wo-gutter);
	padding-left: var(--wo-gutter);
	border-left: calc(var(--wo-gutter) * .25) solid;
	border-left-color: var(--wo-gray);
	color: var(--wo-black);
}
.__notice.--primary {
	border-left-color: var(--wo-primary-dim);
	color: var(--wo-primary);
}
.__notice.--success {
	border-left-color: var(--wo-success-dim);
	color: var(--wo-success);
}
.__notice.--danger {
	border-left-color: var(--wo-danger-dim);
	color: var(--wo-danger);
}
.__notice.--warning {
	border-left-color: var(--wo-warning-dim);
	color: var(--wo-warning);
}
.__notice.--info {
	border-left-color: var(--wo-info-dim);
	color: var(--wo-info);
}

/* WO Colors */
.--color-white {
	color: var(--wo-white);
}
.--bg-white {
	background-color: var(--wo-white);
}
.--color-bg {
	color: var(--wo-bg);
}
.--bg-bg {
	background-color: var(--wo-bg);
}
.--color-bg-dim {
	color: var(--wo-bg-dim);
}
.--bg-bg-dim {
	background-color: var(--wo-bg-dim);
}
.--color-black {
	color: var(--wo-black);
}
.--bg-black {
	background-color: var(--wo-black);
}
.--color-gray-light {
	color: var(--wo-gray-light);
}
.--bg-gray-light {
	background-color: var(--wo-gray-light);
}
.--color-gray {
	color: var(--wo-gray);
}
.--bg-gray {
	background-color: var(--wo-gray);
}
.--color-shadow {
	color: var(--wo-shadow);
}
.--bg-shadow {
	background-color: var(--wo-shadow);
}
.--color-primary {
	color: var(--wo-primary);
}
.--bg-primary {
	background-color: var(--wo-primary);
}
.--color-primary-dim {
	color: var(--wo-primary-dim);
}
.--bg-primary-dim {
	background-color: var(--wo-primary-dim);
}
.--color-primary-light {
	color: var(--wo-primary-light);
}
.--bg-primary-light {
	background-color: var(--wo-primary-light);
}
.--color-success {
	color: var(--wo-success);
}
.--bg-success {
	background-color: var(--wo-success);
}
.--color-success-dim {
	color: var(--wo-success-dim);
}
.--bg-success-dim {
	background-color: var(--wo-success-dim);
}
.--color-success-light {
	color: var(--wo-success-light);
}
.--bg-success-light {
	background-color: var(--wo-success-light);
}
.--color-danger {
	color: var(--wo-danger);
}
.--bg-danger {
	background-color: var(--wo-danger);
}
.--color-danger-dim {
	color: var(--wo-danger-dim);
}
.--bg-danger-dim {
	background-color: var(--wo-danger-dim);
}
.--color-danger-light {
	color: var(--wo-danger-light);
}
.--bg-danger-light {
	background-color: var(--wo-danger-light);
}
.--color-warning {
	color: var(--wo-warning);
}
.--bg-warning {
	background-color: var(--wo-warning);
}
.--color-warning-dim {
	color: var(--wo-warning-dim);
}
.--bg-warning-dim {
	background-color: var(--wo-warning-dim);
}
.--color-warning-light {
	color: var(--wo-warning-light);
}
.--bg-warning-light {
	background-color: var(--wo-warning-light);
}
.--color-info {
	color: var(--wo-info);
}
.--bg-info {
	background-color: var(--wo-info);
}
.--color-info-dim {
	color: var(--wo-info-dim);
}
.--bg-info-dim {
	background-color: var(--wo-info-dim);
}
.--color-info-light {
	color: var(--wo-info-light);
}
.--bg-info-light {
	background-color: var(--wo-info-light);
}
.--color-inverted {
	color: var(--wo-inverted);
}
.--bg-inverted {
	background-color: var(--wo-inverted);
}
.--color-inverted-dim {
	color: var(--wo-inverted-dim);
}
.--bg-inverted-dim {
	background-color: var(--wo-inverted-dim);
}
.--color-inverted-light {
	color: var(--wo-inverted-light);
}
.--bg-inverted-light {
	background-color: var(--wo-inverted-light);
}

.__wo-panel {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: calc(var(--wo-gutter) * 1) calc(var(--wo-gutter) * 2);
	background-color: var(--wo-bg);
	border-radius: var(--wo-border-radius-input);
	-moz-border-radius: var(--wo-border-radius-input);
	-webkit-border-radius: var(--wo-border-radius-input);
}

/* WO Buttons */
.__wo-btn {
	font-size: var(--wo-font-size);
	color: var(--wo-black);
	background: var(--wo-bg);
	margin: 0;
	padding: calc(var(--wo-font-size) * .5) calc(var(--wo-font-size) * 1.5);
	border: 1px solid var(--wo-bg-dim);
	cursor: pointer;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;

	border-radius: var(--wo-border-radius-button);
	-moz-border-radius: var(--wo-border-radius-button);
	-webkit-border-radius: var(--wo-border-radius-button);

	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
.__wo-btn:hover {
	color: var(--wo-black);
	background: var(--wo-bg);
	border: 1px solid var(--wo-bg);
}
.__wo-btn:active,
.__wo-btn:visited {
	color: var(--wo-black);
	background: var(--wo-bg-dim);
	border: 1px solid var(--wo-bg-dim);
}

.__wo-btn.--outline {
	border-color: var(--wo-black);
	color: var(--wo-black);
	background-color: rgba(0,0,0,0);
}
.__wo-btn.--outline:hover,
.__wo-btn.--outline:focus {
	border-color: var(--wo-black);
	color: var(--wo-white);
	background-color: var(--wo-black);
}
.__wo-btn.--outline:active,
.__wo-btn.--outline:visited {
	border-color: var(--wo-gray);
	color: var(--wo-white);
	background-color: var(--wo-gray);
}

.__wo-btn.--disabled,
.__wo-btn[disabled] {
	cursor: not-allowed;
	opacity: .5;
}

.__wo-btn i {
	font-size: inherit;
}

.__wo-btn.--wo-size-xs {
	padding: calc(var(--wo-font-size) * .35) calc(var(--wo-font-size) * .75);
	font-size: calc(var(--wo-font-size) * .6);
}
.__wo-btn.--wo-size-s {
	padding: calc(var(--wo-font-size) * .5) calc(var(--wo-font-size) * 1);
	font-size: calc(var(--wo-font-size) * .75);
}
.__wo-btn.--wo-size-m {
	padding: calc(var(--wo-font-size) * .75) calc(var(--wo-font-size) * 1.25);
	font-size: calc(var(--wo-font-size) * 1);
}
.__wo-btn.--wo-size-l {
	padding: calc(var(--wo-font-size) * .75) calc(var(--wo-font-size) * 1.5);
	font-size: calc(var(--wo-font-size) * 1.1);
}
.__wo-btn.--wo-size-xl {
	padding: calc(var(--wo-font-size) * 1) calc(var(--wo-font-size) * 1.75);
	font-size: calc(var(--wo-font-size) * 1.25);
}

.__wo-btn.--inverted {
	color: var(--wo-white);
	background: var(--wo-inverted);
	border: 1px solid var(--wo-inverted-dim);
}
.__wo-btn.--inverted:hover {
	color: var(--wo-white);
	background: var(--wo-inverted-light);
	border: 1px solid var(--wo-inverted);
}
.__wo-btn.--inverted:active,
.__wo-btn.--inverted:visited {
	color: var(--wo-white);
	background: var(--wo-inverted-dim);
	border: 1px solid var(--wo-inverted-dim);
}
.__wo-btn.--inverted.--outline {
	color: var(--wo-white);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-white);
}
.__wo-btn.--inverted.--outline:hover {
	color: var(--wo-inverted);
	background: var(--wo-white);
	border: 1px solid var(--wo-white);
}
.__wo-btn.--inverted.--outline:active,
.__wo-btn.--inverted.--outline:visited {
	color: var(--wo-inverted);
	background: var(--wo-gray-light);
	border: 1px solid var(--wo-gray-light);
}

.__wo-btn.--primary {
	color: var(--wo-white);
	background: var(--wo-primary);
	border: 1px solid var(--wo-primary-dim);
}
.__wo-btn.--primary:hover {
	color: var(--wo-white);
	background: var(--wo-primary-light);
	border: 1px solid var(--wo-primary);
}
.__wo-btn.--primary:active,
.__wo-btn.--primary:visited {
	color: var(--wo-white);
	background: var(--wo-primary-dim);
	border: 1px solid var(--wo-primary-dim);
}
.__wo-btn.--primary.--outline {
	color: var(--wo-primary);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-primary);
}
.__wo-btn.--primary.--outline:hover {
	color: var(--wo-white);
	background: var(--wo-primary-light);
	border: 1px solid var(--wo-primary-light);
}
.__wo-btn.--primary.--outline:active,
.__wo-btn.--primary.--outline:visited {
	color: var(--wo-white);
	background: var(--wo-primary-dim);
	border: 1px solid var(--wo-primary-dim);
}

.__wo-btn.--danger {
	color: var(--wo-white);
	background: var(--wo-danger);
	border: 1px solid var(--wo-danger-dim);
}
.__wo-btn.--danger:hover {
	color: var(--wo-white);
	background: var(--wo-danger-light);
	border: 1px solid var(--wo-danger);
}
.__wo-btn.--danger:active,
.__wo-btn.--danger:visited {
	color: var(--wo-white);
	background: var(--wo-danger-dim);
	border: 1px solid var(--wo-danger-dim);
}
.__wo-btn.--danger.--outline {
	color: var(--wo-danger);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-danger);
}
.__wo-btn.--danger.--outline:hover {
	color: var(--wo-white);
	background: var(--wo-danger-light);
	border: 1px solid var(--wo-danger-light);
}
.__wo-btn.--danger.--outline:active,
.__wo-btn.--danger.--outline:visited {
	color: var(--wo-white);
	background: var(--wo-danger-dim);
	border: 1px solid var(--wo-danger-dim);
}

.__wo-btn.--warning {
	color: var(--wo-white);
	background: var(--wo-warning);
	border: 1px solid var(--wo-warning-dim);
}
.__wo-btn.--warning:hover {
	color: var(--wo-white);
	background: var(--wo-warning-light);
	border: 1px solid var(--wo-warning);
}
.__wo-btn.--warning:active,
.__wo-btn.--warning:visited {
	color: var(--wo-white);
	background: var(--wo-warning-dim);
	border: 1px solid var(--wo-warning-dim);
}
.__wo-btn.--warning.--outline {
	color: var(--wo-warning);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-warning);
}
.__wo-btn.--warning.--outline:hover {
	color: var(--wo-white);
	background: var(--wo-warning-light);
	border: 1px solid var(--wo-warning-light);
}
.__wo-btn.--warning.--outline:active,
.__wo-btn.--warning.--outline:visited {
	color: var(--wo-white);
	background: var(--wo-warning-dim);
	border: 1px solid var(--wo-warning-dim);
}

.__wo-btn.--success {
	color: var(--wo-white);
	background: var(--wo-success);
	border: 1px solid var(--wo-success-dim);
}
.__wo-btn.--success:hover {
	color: var(--wo-white);
	background: var(--wo-success-light);
	border: 1px solid var(--wo-success);
}
.__wo-btn.--success:active,
.__wo-btn.--success:visited {
	color: var(--wo-white);
	background: var(--wo-success-dim);
	border: 1px solid var(--wo-success-dim);
}
.__wo-btn.--success.--outline {
	color: var(--wo-success);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-success);
}
.__wo-btn.--success.--outline:hover {
	color: var(--wo-white);
	background: var(--wo-success-light);
	border: 1px solid var(--wo-success-light);
}
.__wo-btn.--success.--outline:active,
.__wo-btn.--success.--outline:visited {
	color: var(--wo-white);
	background: var(--wo-success-dim);
	border: 1px solid var(--wo-success-dim);
}

.__wo-btn.--info {
	color: var(--wo-white);
	background: var(--wo-info);
	border: 1px solid var(--wo-info-dim);
}
.__wo-btn.--info:hover {
	color: var(--wo-white);
	background: var(--wo-info-light);
	border: 1px solid var(--wo-info);
}
.__wo-btn.--info:active,
.__wo-btn.--info:visited {
	color: var(--wo-white);
	background: var(--wo-info-dim);
	border: 1px solid var(--wo-info-dim);
}
.__wo-btn.--info.--outline {
	color: var(--wo-info);
	background: rgba(0,0,0,0);
	border: 1px solid var(--wo-info);
}
.__wo-btn.--info.--outline:hover {
	color: var(--wo-white);
	background: var(--wo-info-light);
	border: 1px solid var(--wo-info-light);
}
.__wo-btn.--info.--outline:active,
.__wo-btn.--info.--outline:visited {
	color: var(--wo-white);
	background: var(--wo-info-dim);
	border: 1px solid var(--wo-info-dim);
}

/* WO Table */
.__wo-table-wrap {
	display: block;
	width: 100%;
	height: auto;
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
}
.__wo-table-wrap table.__wo-table {
	min-width: 45rem;
}
table.__wo-table {
	padding: 0;
	margin: 0;
	border: none;
	font-size: var(--wo-font-size);
	height: auto;
	width: 100%;
	border-spacing: 0;
}
table.__wo-table thead {
	
}
table.__wo-table thead th {
	font-weight: 500;
	padding: calc(var(--wo-gutter) * .5) calc(var(--wo-gutter) * .5);
	text-align: left;
	border-bottom: .2rem solid var(--wo-gray-light);
	color: var(--wo-black);
	margin: 0;
}
table.__wo-table tbody {

}
table.__wo-table tbody tr {

}
table.__wo-table tbody tr td {
	color: var(--wo-black);
	font-weight: 400;
	padding: calc(var(--wo-gutter) * .5) calc(var(--wo-gutter) * .5);
	text-align: left;
	border-bottom: .1rem solid var(--wo-gray-light);
	margin: 0;
}
table.__wo-table tbody tr:last-child td {
	border-bottom: none;
}

.--wo-flex-left {
	display: flex;
	justify-content: flex-start;
}
.--wo-flex-right {
	display: flex;
	justify-content: flex-end;
}
.--wo-flex-center {
	display: flex;
	justify-content: center;
}
.--wo-flex-wrap {
	justify-content: space-between;
}
.--wo-text-left {
	text-align: left;
}
.--wo-text-right {
	text-align: right;
}
.--wo-text-center {
	text-align: center;
}

.__wo-wrap {
	min-height: 100vh;
	height: auto;
}

.__wo-header {
	display: block;
	max-width: 100%;
	width: 100%;
	padding: calc(var(--wo-gutter) * 1) 0;
	position: relative;
	z-index: 10;
	background-color: var(--wo-white);

	box-shadow: 0 1rem 4rem var(--wo-shadow);
	-moz-box-shadow: 0 1rem 4rem var(--wo-shadow);
	-webkit-box-shadow: 0 1rem 4rem var(--wo-shadow);
}
.__wo-header .__row {
	max-width: calc(1920px - var(--wo-gutter) * 2);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 calc( (var(--wo-gutter) * 2) + var(--wo-gutter-additional));
}
.__wo-header .__row .__logo img {
	width: 9rem;
}
.__wo-header .__row > div {
	display: block;
	width: 100%;
}
.__wo-header .__row > div:first-child {
	width: 25%;
}
.__wo-header .__row > div:last-child {
	width: calc(20% + var(--wo-gutter) * 1);
	padding-left: calc(var(--wo-gutter) * 1);
}
.__wo-header.--wo-fixed {
	position: fixed;
}
.__fixed-placeholder {
	height: calc(var(--wo-gutter) * 5);
}
@media (max-width: 768px) {
	.__wo-header {
		padding: calc(var(--wo-gutter-xs) * 3) 0;
	}
	.__wo-header .__row {
		max-width: 100%;
		justify-content: space-between;
		margin: 0 calc(var(--wo-gutter-xs) * 2);
	}
	.__wo-header .__row > div {
		display: block;
		width: auto;
	}
	.__wo-header .__row > div:first-child,
	.__wo-header .__row > div:last-child {
		width: auto;
	}
	.__fixed-placeholder {
		height: calc(var(--wo-gutter-xs) * 12);
	}
}
.__wo-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--wo-font-size-s);
	color: var(--wo-gray);
	text-align: center;
	padding: calc(var(--wo-gutter) * 2) 0;
	padding-bottom: calc(var(--wo-gutter) * 4);
	height: calc(var(--wo-gutter) * 7);
	background-color: var(--wo-white);
	width: 100%;
	position: relative;
	z-index: 2;
}

ul.__wo-menu-list {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.__wo-menu-list li {
	margin: 0 2rem;
}
ul.__wo-menu-list li:first-child {
	margin-left: 0;
}
ul.__wo-menu-list li:last-child {
	margin-right: 0;
}
ul.__wo-menu-list li a {
	text-decoration: none;
	color: var(--wo-black);
	
	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
ul.__wo-menu-list li a:hover {
	text-decoration: underline;
	color: var(--wo-primary);
}
ul.__wo-menu-list li.--active a {
	text-decoration: underline;
	color: var(--wo-primary);
}

ul.__wo-menu-tree {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: calc(var(--wo-gutter) * 1.75);
}
ul.__wo-menu-tree li {

}
ul.__wo-menu-tree li a {
	text-decoration: none;
	color: var(--wo-black);
	font-weight: 400;
	position: relative;
	z-index: 1;

	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
ul.__wo-menu-tree li a::before {
	content: '';
	position: absolute;
	width: 114%;
	left: -7%;
	height: 150%;
	top: -25%;
	z-index: -1;
	border-radius: var(--wo-border-radius-input);

	transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
ul.__wo-menu-tree li a:hover {
	font-weight: 400;
}
ul.__wo-menu-tree li a:hover::before {
	background-color: var(--wo-bg-dim);
}
ul.__wo-menu-tree li.--active > a {
	text-decoration: none;
	color: var(--wo-black);
	font-weight: 600;
}
ul.__wo-menu-tree li ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: var(--wo-gutter);
}
ul.__wo-menu-tree li ul li {
	display: block;
}
ul.__wo-menu-tree li ul li::before {
	content: '—';
	display: inline-block;
	margin-right: calc(var(--wo-gutter) * .5);
}

/* WO Grid */
.__wo-row {
	padding: 0;
	width: calc(100% - ( (var(--wo-gutter) *2) + var(--wo-gutter-additional) ) * 2 + (var(--wo-gutter) * .75) );
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.__wo-col-m-1,
.__wo-col-m-2,
.__wo-col-m-3,
.__wo-col-m-4,
.__wo-col-m-5,
.__wo-col-m-6,
.__wo-col-m-7,
.__wo-col-m-8,
.__wo-col-m-9,
.__wo-col-m-10,
.__wo-col-m-11,
.__wo-col-m-12 {
	display: block;
	margin-left: calc(var(--wo-gutter) / 2);
	margin-right: calc(var(--wo-gutter) / 2);
	float: left;
}
.__wo-col-m-1 {
	width: calc(8.333333% - var(--wo-gutter))
}
.__wo-col-m-2 {
	width: calc(16.666667% - var(--wo-gutter))
}
.__wo-col-m-3 {
	width: calc(25% - var(--wo-gutter))
}
.__wo-col-m-4 {
	width: calc(33.333333% - var(--wo-gutter))
}
.__wo-col-m-5 {
	width: calc(41.666667% - var(--wo-gutter))
}
.__wo-col-m-6 {
	width: calc(50% - var(--wo-gutter))
}
.__wo-col-m-7 {
	width: calc(58.333333% - var(--wo-gutter))
}
.__wo-col-m-8 {
	width: calc(66.666667% - var(--wo-gutter))
}
.__wo-col-m-9 {
	width: calc(75% - var(--wo-gutter))
}
.__wo-col-m-10 {
	width: calc(83.333333% - var(--wo-gutter))
}
.__wo-col-m-11 {
	width: calc(91.666667% - var(--wo-gutter))
}
.__wo-col-m-12 {
	width: calc(100% - var(--wo-gutter))
}
.--m-hidden {
	display: none !important
}
.--xs-hidden {
	display: block
}
@media (max-width: 768px) {
	.__wo-row {
		width: calc(100% - (var(--wo-gutter-xs)*1));
	}
	.__wo-col-xs-1,
	.__wo-col-xs-2,
	.__wo-col-xs-3,
	.__wo-col-xs-4,
	.__wo-col-xs-5,
	.__wo-col-xs-6,
	.__wo-col-xs-7,
	.__wo-col-xs-8,
	.__wo-col-xs-9,
	.__wo-col-xs-10,
	.__wo-col-xs-11,
	.__wo-col-xs-12 {
		display: block;
		margin-left: var(--wo-gutter-xs);
		margin-right: var(--wo-gutter-xs);
		margin-bottom: var(--wo-gutter-xs);
		float: left;
	}
	.__wo-col-xs-1 {
		width: calc(8.333333% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-2 {
		width: calc(16.666667% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-3 {
		width: calc(25% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-4 {
		width: calc(33.333333% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-5 {
		width: calc(41.666667% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-6 {
		width: calc(50% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-7 {
		width: calc(58.333333% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-8 {
		width: calc(66.666667% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-9 {
		width: calc(75% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-10 {
		width: calc(83.333333% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-11 {
		width: calc(91.666667% - (var(--wo-gutter-xs)*2))
	}
	.__wo-col-xs-12 {
		width: calc(100% - (var(--wo-gutter-xs)*2))
	}
	.--xs-hidden {
		display: none !important
	}
	.--m-hidden {
		display: block
	}
}

/* WO Breadcrumbs */
.__wo-bc {

}
.__wo-bc ul {
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
}
.__wo-bc ul li {
	display: block;
	color: var(--wo-black);
	font-size: var(--wo-font-size-s);
}
.__wo-bc ul li::after {
	content: '/';
	display: inline-block;
	padding: 0 var(--wo-gutter);
	color: var(--wo-gray);
}
.__wo-bc ul li:last-child::after {
	content: '';
}
.__wo-bc ul li a {
	color: var(--wo-black);
	text-decoration: none;
}
.__wo-bc ul li a:hover {
	color: var(--wo-primary);
	text-decoration: underline;
}